/* links utilities*/
@import url("/css/utilities/base.css");
@import url("/css/utilities/utilities.css");
@import url("/css/utilities/variables.css");

/* home */

/* categories */

/* about */

/* services */

/* shop */

/* product details */

/* fonts  downloaded */
@font-face {
  font-family: "General Sans";
  src: url("assets/fonts/GeneralSans-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "General Sans";
  src: url("assets/fonts/GeneralSans-Medium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "General Sans";
  src: url("assets/fonts/GeneralSans-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}
