<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>footer</title>
    <!-- cdn -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css"
      integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />

    <!-- google icon -->
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <!-- css -->
    <link rel="stylesheet" href="/css/utilities/base.css" />
    <link rel="stylesheet" href="/css/utilities/utilities.css" />
    <link rel="stylesheet" href="/css/utilities/variables.css" />

    <link rel="stylesheet" href="/components/comp_css/footer.css" />
  </head>
  <body>
    <footer>
      <div class="footer-top">
        <h2>PLANIQUE</h2>
        <div class="ft-icons">
          <img src="/assets/images/X_logo.svg" alt="twitter logo " />
          <img src="/assets/images/whatsapp.svg" alt="whatsapp logo" />
        </div>
      </div>

      <div class="footer-bottom">
        <div class="ft_container">
          <h2>Store</h2>
          <p>planique@gmail.com</p>
          <p>+23456677779</p>
        </div>
        <div class="ft_container">
          <h2>Company</h2>
          <p>planique@gmail.com</p>
          <p>+23456677779</p>
        </div>
        <div class="ft_container">
          <h2>Services</h2>
          <p>planique@gmail.com</p>
          <p>+23456677779</p>
        </div>
      </div>
      <script src="/components/comp_js/footer.js"></script>
    </footer>
  </body>
</html>
