<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Nav</title>
    <!-- cdn -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css"
      integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />

    <!-- google icon -->
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <!-- css -->
    <link rel="stylesheet" href="/css/utilities/base.css" />
    <link rel="stylesheet" href="/css/utilities/utilities.css" />
    <link rel="stylesheet" href="/css/utilities/variables.css" />

    <link rel="stylesheet" href="/components/comp_css/nav.css" />
  </head>
  <body>
    <nav>
      <div class="nav_left">
        <a href="/html/home.html">
          <img src="/assets/images/logo.svg" alt="planique logo"
        /></a>
      </div>

      <div class="nav_center">
        <a href="/html/home.html">Home</a>
        <a href="/html/shop.html">Shop</a>
        <a href="/html/categories.html">Categories</a>
        <a href="/html/about.html">About</a>
        <a href="/html/contact.html">Contact</a>
      </div>

      <div class="nav_right">
        <a href=""><span class="material-icons"> shopping_bag </span></a>
        <a href=""><span class="material-icons"> search </span></a>

        <button class="hamburger">
          <span class="material-icons">dehaze</span>
        </button>
      </div>
    </nav>

    <!-- MOBILE SIDEBAR -->
    <aside class="mobile_nav">
      <button class="cancel">
        <span class="material-icons">close</span>
      </button>

      <a href="/html/home.html">Home</a>
      <a href="/html/shop.html">Shop</a>
      <a href="/html/categories.html">Categories</a>
      <a href="html/about.html">About</a>
      <a href="/html/contact.html">Contact</a>
    </aside>

    <!-- js -->
    <script src="/components/comp_js/nav.js"></script>
  </body>
</html>
