.create-section {
  margin-top: 4rem;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  background-color: var(--bg3);
}

.left-create {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.create-heading {
  font-size: var(--fs4);
}

.create-p {
  font-size: var(--fs3);
}
.right-create {
  display: block;
  display: flex;
  justify-content: center;
}

.right-create img {
  width: 85%;
  border-radius: 12px;
}

@media (min-width: 768px) {
  .right-create img {
    width: 500px;
    height: 450px;
    border-radius: 12px;
  }
}

/* 1024 */
@media (min-width: 1280px) {
  .create-section {
    margin-top: 4rem;
    padding: 3rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    background-color: var(--bg3);
  }

  .left-create {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2rem;
  }

  .create-heading {
    font-size: var(--fs4);
    text-align: left;
  }

  .create-p {
    font-size: var(--fs3);
  }
  .right-create img {
    width: 65%;
    height: 30%;
    border-radius: 12px;
  }
}

/* 1440 */
@media (min-width: 1440px) {
}

/* 1800 */
@media (min-width: 1800px) {
  .create-section {
    margin-top: 4rem;
    padding: 5rem 1rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20rem;
    background-color: var(--bg3);
  }

  .right-create img {
    width: 600px;
    height: 500px;
    border-radius: 12px;
  }

  .right-create {
    margin-top: 2rem;
  }
}
