main {
  padding: 2rem;
}

/* the small header */
.small-heaidng {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1rem;
  margin-bottom: 3rem;
}

.sub-top {
  border-left: 2px solid var(--tcb);
  padding-left: 0.5rem;
}
.heading-three {
  padding-left: 0.5rem;
  font-size: var(--fs3);
}

/* latest grid */
.latest-grid-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 5rem;
  padding: 1rem;
}

.latest-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.latest-lvt img {
  width: 250px;
  height: 250px;
  border-radius: 12px;
}

.latest-lvb {
  margin-top: 2rem;
  display: flex;
  margin-bottom: 2rem;
}

.furn-name {
  font-size: var(--fs3);
  margin-bottom: 0.6rem;
}

.furn-info {
  font-weight: 400;
  margin-bottom: 0.9rem;
  font-size: var(--fs2);
}

.furn-price {
  font-size: var(--fs2);
  font-weight: normal;
  margin-bottom: 2rem;
}

.l-right small {
  font-size: var(--fs3);
  margin-left: 0.5rem;
}

/* tab */
@media (min-width: 768px) {
  .latest-grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: auto 4rem;
    gap: 2rem;
  }
}

/* 1280 */
@media (min-width: 1280px) {
  main {
    padding: 2rem 3rem;
  }
  .latest-grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
  }

  .latest-lvt img {
    width: 500px;
    height: 500px;
    border-radius: 12px;
  }

  .latest-lvb {
    margin-top: 2rem;
    display: flex;
    gap: 10rem;
    margin-bottom: 2rem;
  }
}

/* 1440 */
@media (min-width: 1440px) {
}

/* 1800 */
@media (min-width: 1800px) {
  .latest-grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
  }

  .latest-lvt img {
    width: 500px;
    height: 500px;
    border-radius: 12px;
  }

  .latest-lvb {
    margin-top: 2rem;
    display: flex;
    gap: 20rem;
    margin-bottom: 2rem;
  }

  .furn-name {
    font-size: var(--fs4);
    margin-bottom: 0.6rem;
  }

  .furn-info {
    font-weight: 400;
    margin-bottom: 0.9rem;
    font-size: var(--fs3);
  }

  .furn-btns {
    display: flex;
    gap: 1rem;
  }

  .furn-price {
    font-size: var(--fs3);
    font-weight: normal;
    margin-bottom: 2rem;
  }

  .l-right small {
    font-size: var(--fs3);
    margin-left: 0.5rem;
  }
}
